%fieldset
  .form-group
    .form-check
      = f.check_box :prevent_merge_requests_author_approval, class: 'form-check-input'
      = f.label :prevent_merge_requests_author_approval, class: 'form-check-label' do
        = _('Prevent approval of merge requests by merge request author')
    .form-check
      = f.check_box :prevent_merge_requests_committers_approval, class: 'form-check-input'
      = f.label :prevent_merge_requests_committers_approval, class: 'form-check-label' do
        = _('Prevent approval of merge requests by merge request committers')
    .form-check
      = f.check_box :disable_overriding_approvers_per_merge_request , { class: 'form-check-input' }, false, true
      = f.label :disable_overriding_approvers_per_merge_request , class: 'form-check-label' do
        = _('Can override approvers and approvals required per merge request')
